@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Shadows+Into+Light&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #4CAF50  ;
    --secondary-color: #2196F3 ;
    --accent1-color: #B8DC97;
    --accent2-color: #FFFAD2;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Italianno,"IM Fell French Canon SC";
    --paragraph-font:"Shadows Into Light", Lato, Helvetica, sans-serif;
}
#content{
    max-width:  1600px;
    margin: 0 auto;  
}

header{
    display: grid;
    grid-template-columns: 100px auto;
}

nav{
    
    display: flex;
    justify-content: right;
    z-index: 1;
    float: left;
    height: 120px;
}


nav a{
    height:40px ;
    
    text-decoration: none;
    font-family:var(--heading-font);
    font-weight: bold;
    padding: 30px;
    color:#4CAF50;
    font-size: 36px;

    

}
nav a:hover{

    display: inline-block;
    color: #9BB282;
   
}

.logo{
    width: 100px;
    padding-left: 200px;
    margin-top: -25px;
    z-index: 1;
}

    

#home{
    display: grid;
    
    margin-top: -40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#homeroom {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index:-1;
}     
#text p{
    font-family: var(--paragraph-font);
    font-size: 16px;
    text-align: center;
    height: 300px;
    width: 500px;
    margin-left: 100px;
}
#homeroom-image{
    width: 100%;
    
}

footer .social img{
    padding: 25px 50px;
    padding-bottom: 0;
    width: 70px;
    height: 50px;
}

footer{
    background-color:#B8DC97;
    color: #FFE4D1;
    padding: 25px 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px ;
}

.button-box{
    background-color: #4CAF50;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    margin-left: 100px;
    
    
}
.book{
    color:#B8DC97;
    font-size: 27px;
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-font);
    
}

footer a{
    background-color:#B8DC97;
    
    text-decoration: none;
    height:40px ;
    
    
    font-family:var(--heading-font);
    font-weight: bold;
    padding: 30px;
    color:#4CAF50;
    font-size: 36px;
        
}

footer p a:hover {
    text-decoration: none;
    color:#FFFAD2;
    background-color:#B8DC97 ;

}  


footer P{
    font-size: 1em;
}

#text{
   
    top: 40%;
    left: 71%;
    text-align: center;
    z-index: 1;
    grid-row: 1/4;
    grid-column:1/4;
    
}

h1{
    z-index: 1;
    margin:0;
    font-size: 100px;
    font-family: Italianno;
    color: #2196F3;
}



#logo_link{
    padding-top: 2px;
    z-index: 1;
    justify-self: center;
    
}
             
.social a{
    padding: 0;
}

p a {
    padding: 0;
}

p{
    font-family: var(--paragraph-font);
    font-weight:700 ;
    text-align: center;
    color: #2196F3;
    
}

main{
    margin-left: 150px;
    margin-right: 150px;
}  

  
div.gallery img {
    width: 320px;
    height: 320px;
    border-radius: 8px;
    z-index: 2;
    
    
    
    

}
div.gallery{
    width: 320px;
    height: 320px;
    
    
}
div.desc {
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    z-index: 1;
    

}
.desc{
    font-family: var(--paragraph-font);
    font-weight:700 ;
    background-color: #FFFAD2;
    margin-top: -58px;
    opacity: 80%;
    font-size: 22px;
    
}
    

.desc1{
    font-family: var(--paragraph-font);
    font-weight:700 ;
    background-color:#2196F3;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: -58px;
    opacity: 80%;
    font-size: 22px;
}
.desc2{
    font-family: var(--paragraph-font);
    font-weight:700 ;
    background-color:#4CAF50;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: -58px;
    opacity: 80%;
    font-size: 22px;}


* {
    box-sizing:content-box ;
    }
  
 .responsive {
    
    float:left ;
    margin: 55px;
   

 }
  
 div.gallery:hover {
    
    opacity: .6;
    transform: scale(1.2);

 }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
    align-items: center;
    
  }